# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logfiles/
*.log
